<!DOCTYPE html>
{% extends 'html/base.html' %}
{% block body_block %}

    <div class="container mt-5 pt-5">
        <div class="row">
            {% for i in cartitem %}

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                <div class="card glass-card w-100">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.product.name}}</h5>
                        <h5 class="card-title">{{i.product.price}}</h5>
                        <p class="card-text">{{i.product.discription}}</p>
                        <a href="" class="btn btn-warning">Buy</a>
                    </div>
                </div>
            </div>
            {% endfor %}
{% endblock %}
